<style>
    .filter{
        text-align: center;
        margin-top: 2rem;
        opacity: 0.7;
        color: black;
        text-decoration: none;
    }
    .filter:hover{
        opacity: 1;
        cursor: pointer;
    }
    .filter p {
        font-size: 0.8rem;
    }
</style>

<div id="filters" class="row ">
    <a href="/listings/filter?category=trending" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </a>
    <a href="/listings/filter?category=rooms" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </a>
    <a href="/listings/filter?category=iconic%20cities" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </a>
    <a href="/listings/filter?category=mountain" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-mountain"></i></div>
        <p>Mountain</p>
    </a>
    <a href="/listings/filter?category=castles" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </a>
    <a href="/listings/filter?category=amazing%20pools" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-person-swimming"></i></div>
        <p>Amazing Pools</p>
    </a>
    <a href="/listings/filter?category=camping" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
    </a>
    <a href="/listings/filter?category=farms" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-solid fa-cow"></i></div>
        <p>Farms</p>
    </a>
    <a href="/listings/filter?category=arctic" class="filter col-lg-1 col-md-3 col-sm-6 col-6">
        <div><i class="fa-regular fa-snowflake"></i></div>
        <p>Arctic</p>
    </a>
    <a class="form-check form-switch filter col-lg-1 col-md-3 col-sm-6 col-6 ms-auto d-flex align-items-center">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Display taxes</label>
    </a>
</div>